<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(fullName && favouriteColor) { %>
   <div style="color: <%= favouriteColor %>">
  <h3>Hi, <%= fullName %></h3>
<p>You said : <q><%= message %></q>
Your favouriteColor is <%= favouriteColor %> </p>
Thanks for reaching out</div>
    <% } else { %> 
      <h3>Thanks for being....</h3>>
    <%  }  %> 
</body>
</html>