<%- include("./partials/header.ejs") %>

    <h1>Welcome to my express application</h1>
    <img class= "cute-baby" src="/images/cute-baby.jpg" alt="cute baby picture" height="500px" />
    
    <%- include("./partials/footer.ejs") %>