<%- include("./partials/header.ejs") %>
    <h1>Welcome to my express application</h1>
    <img src="https://i.pinimg.com/736x/52/10/29/5210296c2f73746940c5a983839899ae.jpg" alt="cute baby picture"
    height="500px" />
    <%- include("./partials/footer.ejs") %>